@page "/validation"
@using BlazorLearn.Models

<h3>Validation</h3>

<!--
    validation'ı kullanabilmek için blazordan gelen hazır
    component'leri kullanmamız gerekmektedir.
    -->

<EditForm Model="@productAddModel" OnValidSubmit="@HandleSave">
    <DataAnnotationsValidator /> <!-- bunun kullanıldığı yerdeki 'attribute^lerin' devreye sokulacağı belirtiliyor.-->
    <h4>Product Name : </h4>
    <InputText class="form-control" id="productName" @bind-Value="@productAddModel.ProductName" /> <br />
    <h4>Product Description : </h4>
    <InputText class="form-control" id="description" @bind-Value="@productAddModel.Description" /> <br />
    <h4>Category Id : </h4>
    <InputText class="form-control" id="description" @bind-Value="@productAddModel.CategoryId" /> <br />
    <button class="btn btn-success" type="submit">Kaydet</button> <br /> <br />
    <ValidationSummary /> <!-- validation hatalarını kullanıcıya göstermek için kullanılır -->
</EditForm>

@code {
    /*
     * 'validation^ı' devreye sokanbilmemiz için öncelikle bu
     * sayamızın çalışacağı modeli belirlememiz gerekmektedir.
     */
    ProductAddModel productAddModel = new ProductAddModel();

    private void HandleSave()
    {
        Console.WriteLine("Product Added");
    }
}
